@model List<VD.Models.PermissionListVM>
@{
    ViewData["Title"] = "Permission";
}

<div id="kt_app_content" class="app-content flex-column-fluid">

    <div id="kt_app_content_container" class="app-container container-fluid">

        <div class="row gx-5 gx-xl-10">
            <div class="col-xl-12 mb-5 mb-xl-10">

                <div class="card card-flush h-xl-100 ">

                    <div class="card-body pt-6">

                        <form asp-action="Permission" asp-controller="Admin">
                            <div asp-validation-summary="All" class="text-danger"></div>

                            <div class="form-group px-5">
                                <label class="col-sm-2 col-form-label text-right">Role</label>
                                <div class="d-flex justify-content-center">
                                    <select asp-items="@ViewBag.RoleList" id="role-permission" class="form-select form-select-sm mb-5" onchange="reloadPermission()" name="RoleId"></select>

                                    <div class="form-group">
                                        <div class="">
                                            <input type="submit" value=Update class="btn btn-sm btn-outline-success ms-4" />
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="form-group px-5">
                                <label class="col-sm-2 col-form-label text-right">Permission</label>
                                <div class="form-group row">
                                    @{
                                        int seq = 1;
                                    }
                                    @foreach (var v in Model)
                                    {
                                        if (seq != v.Seq)
                                        {
                                            seq = v.Seq;
                                            <hr />
                                        }
                                        <div class="col-md-6">
                                            <div class="input-group input-group-sm mb-3 me-2">
                                                <div class="input-group-text">
                                                    <input type="checkbox" class="form-check-input mt-0 me-2" id="@v.Description" name="Permission" value="@v.Description">
                                                    <label class="custom-control-label" for="@v.Description">@v.Display.Replace("_", " ")</label>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>

                            </div>

                        </form>

                        <div class="tab-content"></div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            reloadPermission();
        });

        function reloadPermission() {
            var chk_arr = document.getElementsByName("Permission");
            var chklength = chk_arr.length;
            for (k = 0; k < chklength; k++) {
                chk_arr[k].checked = false;
            }

            var role = $("#role-permission").val();
            $.ajax({
                type: 'GET',
                url: '@Url.Action("PermissionList", "Admin")?roleid=' + role,
                dataType: 'json',
                success: function (data) {
                    $.each(data, function (i, parent) {
                        for (k = 0; k < chklength; k++) {
                            if (chk_arr[k].value == parent.description) {
                                chk_arr[k].checked = true;
                            }
                        }
                    });
                }
            });

        }
    </script>
}